<div th:fragment="collection">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Tipo</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="u : ${usuarios}">
            <td th:text="${u.id}"></td>
            <td th:text="${u.nome}"></td>
            <td th:text="${u.email}"></td>
            <td th:text="${u.tipoUsuario}"></td>
            <td class="text-center">
                <a th:href="@{'/admin/usuarios/' + ${u.id}}" title="Ver" class="text-dark mx-2"><i class="fas fa-eye"></i></a>
                <a th:href="@{'/admin/usuarios/editar/' + ${u.id}}" title="Editar" class="text-dark mx-2"><i class="fas fa-pen"></i></a>
                <a th:href="@{'/admin/usuarios/deletar/' + ${u.id}}"
                   onclick="return confirm('Tem certeza que deseja deletar este usuário?')" title="Deletar" class="text-dark mx-2"><i class="fas fa-trash"></i></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
